.login-sidebar {
  width: 250px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 24px #0001;
  margin-right: 24px;
  min-height: 400px;
}
.login-sidebar form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-sidebar input, .login-sidebar button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.login-sidebar button {
  background: #252525;
  color: #fff;
  border: none;
  cursor: pointer;
}